<div
  class="card-container"
  ngClass.gt-xs="card-container-desktop"
  fxLayout
  fxLayouAlign="center center"
>
  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading" fxLayoutAlign="center center" fxLayout="column">
    <div
      class="card"
      ngClass.gt-xs="card-desktop"
      *ngIf="isTrackAvailable"
      [@voted]="cardAnimation"
    >
      <app-card
        [artist]="tracklist[currentIndex].artist"
        [title]="tracklist[currentIndex].title"
        [imageUrl]="tracklist[currentIndex].imageUrl"
        (thumbUpClicked)="liked()"
        (thumbDownClicked)="disliked()"
      ></app-card>
    </div>
    <div *ngIf="!isTrackAvailable">
      <h2 style="color: antiquewhite">
        ALL TRACKS WERE VOTED LOOK AT THE RESULTS
      </h2>
    </div>
    <div class="card" ngClass.gt-xs="card-desktop">
      <app-bar-chart [data$]="data$"></app-bar-chart>
    </div>
  </div>
</div>
