.card-container {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);

  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
}

.card-container-desktop {
  height: 100%;
}

.card {
  text-align: center;
  margin: 1rem;
}

.card img {
  max-width: 100%;
  height: auto;
}
.card-Buttons {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #c7c7c7 !important;
  // Test
}
