<div
  fxLayout="row"
  style="max-width: 900px; max-height: 600px; width: 100%; height: 100%"
>
  <mat-card class="event-content-card" ngClass.gt-xs="card-desktop">
    <div fxLayoutAlign.gt-xs="row">
      <div class="card-left">
        <img
          class="coverImage"
          ngClass.lt-sm="imageMobile"
          src="{{ imageUrl }}"
          alt=""
        />
      </div>

      <div class="track-info" ngClass.gt-xs="track-info-desktop" fxLayout>
        <div fxLayoutAlign.lt-sm="row">
          <p class="artist">Artist</p>
          <p class="artist-info">{{ artist }}</p>
        </div>
        <div fxLayoutAlign.lt-sm="row">
          <p class="artist">Title</p>
          <p class="artist-info">{{ title }}</p>
        </div>

        <div fxLayoutAlign="row" class="buttons">
          <button mat-mini-fab style="margin-right: 1.5rem" (click)="liked()">
            <mat-icon class="green-icon">thumb_up</mat-icon>
          </button>
          <button mat-mini-fab style="margin-left: 1.5rem" (click)="disliked()">
            <mat-icon class="red-icon">thumb_down</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
